<h3>投稿一覧</h3>
<div class="contents-container">
    <% @contents.each do |c| %>
        <div class="contents">
            <%= c.title %>
            <%= c.artist %>
            <%= c.video %>
            <%= c.comment %>
            <%= c.user.name %>
            <%= c.created_at %>
        </div>
        <%= link_to "詳細へ", content_path(c.id) %>
    <% end %>
</div>

<%= link_to "新規投稿", new_content_path %>
<%= link_to "ログイン", new_user_session_path %>
<%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
