<h3>投稿を検索</h3>
 <%= form_tag(url:search_contents_path, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<div class="contents-container">
    <% @contents.each do |c| %>
        <div class="contents">
            <%= c.title %>
            <%= c.artist %>
            <%= c.video %>
            <%= c.my_comment %>
            <%= c.user.name %>
            <%= c.created_at %>
        </div>
        <%= link_to "詳細へ", content_path(c.id) %>
    <% if user_signed_in? %>
      <% if current_user.already_liked?(c) %>
          <%= link_to content_like_path(id: c.id, content_id: c.id), method: :delete do %>
              <p>いいねを取り消す</p><%= c.likes.count %>
          <% end %>
            <% else %>
             <%= link_to content_likes_path(id: c.id, content_id: c.id), method: :post do %>
                <p>いいね</p><%= c.likes.count %>
            <% end %>
            <% end %>
        <% else %>
            <p>いいねの数 = </p><%= c.likes.count %>
    <% end %>

    <% end %>
</div>

<div class="link">
    <%= link_to "投稿一覧に戻る", contents_path %>
</div>