<h3>投稿詳細</h3>

<div　class="content">
    <p> <%= @content.title %> </p>
    <p> <%= @content.artist %> </p>
    <p> <%= @content.video %> </p>
    <p> <%= @content.my_comment %> </p>
    <p> <%= @content.user.name %> </p>
</div>

  <% if user_signed_in? %>
      <% if current_user.already_liked?(@content) %>
          <%= link_to content_like_path(@content), method: :delete do %>
             <p>いいねを取り消す</p><%= @content.likes.count %>
          <% end %>
      <% else %>
          <%= link_to content_likes_path(@content), method: :post do %>
             <p>いいね</p><%= @content.likes.count %>
          <% end %>
      <% end %>
  <% else %>
      <p>いいねの数 = </p><%= @content.likes.count %>
  <% end %>

<div class="comment-wrapper">
    <p>コメント一覧</p>
    <% @comments.each do |cm| %>
        <div>
            <%= cm.user.name %>
            <br>
            <%= cm.body %>
        </div>
        <br>
    <% end %>

    <% if user_signed_in? %>
        <%= form_with(model: [@content, @comment], local: true) do |f| %>
            <%= f.text_area :body %>
            <%= button_tag type: "submit" do %>
                <i class="fa-comments"></i> コメントする
            <% end %>
        <% end %>
    <% end %>
</div>

<%= link_to "投稿の修正", edit_content_path(@content.id) %>
<%= button_to "削除する", content_path(@content.id), method: :delete %>

<%= link_to "投稿一覧へ", contents_path %>