<h3>投稿詳細</h3>

<div　class="content">
    <p> <%= @content.title %> </p>
    <p> <%= @content.artist %> </p>
    <p> <%= @content.video %> </p>
    <p> <%= @content.comment %> </p>
    <p> <%= @content.user.name %> </p>
</div>

<%= link_to "投稿の修正", edit_content_path(@content.id) %>
<%= button_to "削除する", content_path(@content.id), method: :delete %>

<%= link_to "投稿一覧へ", contents_path %>